- content_for :css do
  =stylesheet_link_tag 'basic/edit_form.css', :media=>'screen'
  =stylesheet_link_tag 'basic/main_menu.css', :media=>'screen'

- content_for :title do
  Центр управления:
  = @user.login
  |
  =t('portal_name')
      
%h3=t('cabinet')

.block
  %ul.main_menu
    %li
      - text = content_tag :span, t('report.manage'), :class=>:title
      = link_to text, reports_path(:subdomain=>@user.subdomain), :class=>'news'
      
      - text = content_tag :span, t('page.manage'), :class=>:title
      = link_to text, manager_pages_path(:subdomain=>@user.subdomain), :class=>'pages'
      
      -# Определяется кол-во новых сообщений, и если они есть - то формируется текст
      - nqs= @user.new_questions.size
      - new_questions_size = ( nqs > 0 ? " (<b class='red'>#{nqs}</b>) " : "")
      - text = content_tag :span, t('my_questions') + new_questions_size , :class=>:title
      = link_to text, box_questions_url(:subdomain=>@user.subdomain), :class=>'questions'
      
      - text = content_tag :span, t('my_files'), :class=>:title
      = link_to text, storage_sections_url(:subdomain=>@user.subdomain), :class=>'files'
    %li
      -#
        - text = content_tag :span, 'Сообщения', :class=>:title
        = link_to text, messages_path(:subdomain=>@user.subdomain), :class=>'mail'
      
      - text = content_tag :span, 'Настройки', :class=>:title
      = link_to text, profile_users_path(:subdomain=>@user.subdomain), :class=>'settings'

      -# Если есть ролевой доступ к администрированию ролей
      - if current_user.has_role_policy?(:administrator, :users)
        - text = content_tag :span, 'Роли и права', :class=>:title
        = link_to text, admins_roles_url(:subdomain=>@user.subdomain), :class=>'roles'

      -# Если есть ролевой доступ к администрированию пользователей
      - if current_user.has_role_policy?(:administrator, :users)
        - text = content_tag :span, 'Управление сайтом', :class=>:title
        = link_to text, '/admins', :class=>'settings'
        
  .edit_form
    %h5
      Изображение для шапки Вашего сайта (900x250 точек)
    -form_for :user, :url => base_header_user_path(@user.zip), :html => { :multipart => true, :method=>:put } do |form|
      =form.file_field :base_header
      =submit_tag 'Установить', :class=>:submit
    
    -#
      %li
        - text= content_tag :span, t('my_news'), :class=>:bar
        = link_to text, manager_pages_path(:subdomain=>current_user.subdomain)
        
      %li
        - text= content_tag :span, t('my_albums'), :class=>:bar
        = link_to text, manager_pages_path(:subdomain=>current_user.subdomain)
        
      %li
        - text= content_tag :span, t('my_documents'), :class=>:bar
        = link_to text, manager_pages_path(:subdomain=>current_user.subdomain)