="iv36--last_created--#{@lc36.created_at.to_s(:db)}--#{@lc36.title}--http://iv36.iv-schools.ru/pages/#{@lc36.zip}\n"
="iv36--last_updated--#{@lu36.updated_at.to_s(:db)}--#{@lu36.title}--http://iv36.iv-schools.ru/pages/#{@lu36.zip}\n"
="iv43--last_created--#{@lc43.created_at.to_s(:db)}--#{@lc43.title}--http://iv43.iv-schools.ru/pages/#{@lc43.zip}\n"
="iv43--last_updated--#{@lu43.updated_at.to_s(:db)}--#{@lu43.title}--http://iv43.iv-schools.ru/pages/#{@lu43.zip}\n"

