- content_for :css do
  =stylesheet_link_tag 'basic/paginator', :media=>'screen'
  =stylesheet_link_tag 'basic/tree.css', :media=>'screen'

= will_paginate @reports

%h1
  Список новостей
.tree
  :ruby
    localize={
      :id_of_element=>'Идентификатор новости: ',
      
      :cant_be_moved=>'Новость не может быть перемещена.',
      :move_up=>'Переместить новость вверх: ',
      :move_down=>'Переместить новость вниз: ',
      :edit=>'Редактировать новость: ',
      :delete=>'Удалить новость: ',
      :create_child=>'Создать дочернюю новость для: ',
      :delete_confirm=>'Вы уверенны, что хотите удалить новость?',
      :sub_sections_must_be_deleted=>'Невозможно удалить новость, пока существуют дочерние новости.'
    }
    
  = link_to 'Создать новость', new_news_path
  = ans_manager_tree(@reports, :idname=>:zip, :localize=>localize, :class_name=>'News')
  = link_to 'Создать новость', new_news_path
-#
  = report.updated_at.strftime("%d/%m/%y %H:%M")

= will_paginate @reports