- content_for :css do
  =stylesheet_link_tag 'basic/paginator', :media=>'screen'
  =stylesheet_link_tag 'basic/tree.css', :media=>'screen'
  =#stylesheet_link_tag 'basic/admin_map.css', :media=>'screen'
  
-if flash[:notice]
  .notice
    = flash[:notice]

-if flash[:error]
  .error
    = flash[:error]

=# will_paginate @reports

%h1
  Список Новостей
.tree
  = ans_manager_tree(@reports, :idname=>:zip, :class_name=>'News')
-#
  = report.updated_at.strftime("%d/%m/%y %H:%M")
  = link_to '[e]', edit_report_path(report)
  = link_to '[x]', report_path(report), :confirm => 'Вы уверены?', :method => :delete

%br
= will_paginate @reports

%br
%br
= link_to 'Создать Новость', new_report_path