
.body
  %h1
    Объект
    = "Report"
    = "#"+@report.id.to_s
    
  -if flash[:notice]
    .notice
      = flash[:notice]

  -if flash[:error]
    .error
      = flash[:error]

  %table
    %tr
      %td
        %table.object_card
        
        
          
          %tr
            %td.field
              ID
            %td
            
              =h @report.id
                                     
        
          
          %tr
            %td.field
              Владелец
            %td
            
              =h @report.user_id
                                     
        
          
          %tr
            %td.field
              zip-code
            %td
            
              =h @report.zip
                                     
        
          
          %tr
            %td.field
              Заголовок
            %td
            
              =h @report.title
                                     
        
          
          %tr
            %td.field
              Описание
            %td
            
              =h @report.description
                                     
        
          
          %tr
            %td.field
              Содержимое
            %td
            
              =h @report.content
                                     
        
          
          %tr
            %td.field
              Безопасный контент
            %td
            
              .readeble_text_field
                =(h @report.prepared_content).gsub("\n", "<br />")
                                     
        
          
          %tr
            %td.field
              Состояние отображения
            %td
            
              .readeble_text_field
                =(h @report.state).gsub("\n", "<br />")
                                     
        
          
          %tr
            %td.field
              Хеш настроек
            %td
            
              .readeble_text_field
                =(h @report.settings).gsub("\n", "<br />")
                                     
          %tr
            %td.field
              Управление
            %td
              = link_to 'Редактировать', edit_report_path(@report)
              = link_to 'Полный список', reports_path